h1 {
    text-align: center;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#grid {
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    border-top: 0.5px solid black;
    border-left: 0.5px solid black;
    width: 642px;
    height: 642px;
    justify-content: center;
    align-items: center;
}
  
.cell {
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
    box-sizing: border-box;
}

.hover {
    background-color: black;
}

.btn {
    width: 120px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 110, 253);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 0.25rem;
}

.btn:hover {
    color: rgb(13, 110, 253);
    background-color: rgb(255, 255, 255);
    border-color: rgb(13, 110, 253);
}

.btn:active {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
